.navbar{
  background-color: grey;
  display: flex;
  justify-content: space-between;
}

.navbar__logo{
  font-size: 36px ;
  font-weight: 600;
}

.navbar__menu{
  list-style-type: none;
  display: flex;
}